
#define IDI_APP_ICON 101

IDI_ICON1 ICON "icons/icon.ico"

1 VERSIONINFO
  FILEVERSION 3,0,1,31
  PRODUCTVERSION 3,0,1,31
  FILEOS 0x4
  FILETYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Weespin"
      VALUE "FileDescription", "Khinsider Downloader"
      VALUE "FileVersion", "3,0,1,31"
      VALUE "InternalName", "KhinsiderDownloader"
      VALUE "LegalCopyright", "Copyright © 2025 Weespin"
      VALUE "OriginalFilename", "KhinsiderDownloader.exe"
      VALUE "ProductName", "Khinsider Downloader"
      VALUE "ProductVersion", "3,0,1,31"
    END
  END 
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
